/*---------GLOBAL----VARS-------------*/
$blue: #33cccc;
$dark: #565a5c;
$border: #ddd;
/*
mixins
*/
@mixin fontC($w, $z, $c){
	font-size: $z;
	font-weight: $w;
	color: $c;
}
@mixin after(){
	content: ".";
	clear: both;
	font-size: 0;
	width: 100%;
	display: block;
	height: 0;
}
@mixin bx(){
	box-sizing: border-box;
}
@mixin br($x){
	border-radius: $x;
}
@mixin wh($w, $h){
	width: $w;
	height: $h;
}
@mixin credit(){
	margin-top: 40px;
	padding: 40px;
}
/*--------GLOBAL-----VARS-------------*/
