@import "./global.scss";
.signup{
	/*
	reset
	*/ 
	h4, h6, p, b, ul, li, span, b, i,
	{
		padding: 0;
		margin: 0;
	}
	/*
	reset
	*/
	.sidebar-in, .content-signup{
		background: #fff;
	}
	.sidebar-in{
		padding: 30px 20px;
		border: 1px solid #eee;
		@include br(7px);
		@include bx();
		h4{
			@include fontC(400, 16px, $blue);
		}
		h6, .session{
			padding:15px 0 10px;
			text-transform: uppercase;
			@include fontC(400, 15px, $dark);
		}
		p{
			padding-bottom: 10px;
			@include fontC(400, 14px, $dark);
		}
		b{
			float: right;
			display: inline-block;
			@include fontC(700, 14px, $dark);
		}
		.session, .total{
			overflow: hidden;
			border-top: 1px solid #ddd;
		}
		.session{
			text-transform: none;
			margin-top: 10px;
		}
		.total{
			font-weight: 400;
			b{
				color: $blue;
			}
		}
	}
}

.content-signup{
	.row{
		background: #fff;
	}
}

/*
header-payment
*/
.header-payment{
	@include br(5px 5px 0 0);
	p{
		text-align: center;
		padding: 20px 0;
		text-transform: uppercase;
		@include fontC(100, 20px, $dark);
		border-right: 1px solid $border;
		border-bottom: 1px solid $border;
		cursor: pointer;
		&:last-child{
			border-right:none;
		}
	}
	i{
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
		margin-top: -4px;
		@include fontC(100, 18px, $border);
	}
	.active{
		color: $blue;
		i{
			color: $blue;
		}
	}
	.disable{
		background: #f9f9f9;
		color: #b9b9b9;
	}
}

/*
content-review
*/
.content-review{
	padding: 0 60px;
	@include bx();
	h2{
		@include fontC(400, 24px, $dark);
		padding: 30px 0;
	}
	h3, p{
		text-align: center;
	}
	h3{
		text-transform: none;
	}
	p{
		padding-bottom: 20px;
	}
	hr{
		border-color: $border;
		margin-bottom: 50px;
	}
	.col-part{
		float: left;
		@include wh(50%, auto);
		&:last-child{
			text-align: right;
		}
	}
	.heaer-b{
		padding: 0 45px;
		&:after{@include after();}
	}
	.col-part{
		&:first-child{
			h4{
				@include fontC(700, 16px, $dark);
				padding-bottom: 15px;
				&:before{
					content: '';
					display: inline-block;
					float: left;
					vertical-align: middle;
					margin-right: 10px;
					@include wh(20px, 20px);
					background: url(../img/booking.svg) 0 0 no-repeat;
				}
			}
			p{
				text-align: left;
				padding-left: 30px;
			}
		}
		&:last-child{
			h4{
				padding-bottom: 15px;
				@include fontC(700, 16px, $blue);
			}
			label{
				@include fontC(400, 14px, $dark);
			}
		}
	}
	.session-block{
		background: #eee;
		padding: 45px 0;
		@include bx();
		margin-bottom: 40px;
		.row{
			padding-top: 40px;
		}
	}
	.row{
		background: transparent;
		padding: 0 30px;
	}
	.form-group{
		margin-bottom: 20px;
		overflow: hidden;
		label{
			text-align: right;
			padding-top: 8px;
			text-transform: none;
			@include fontC(400, 14px, $dark);
		}
	}
	.checkbox, .radio{
		margin: 0;
	}
	.footer-text{
		padding: 60px 0 0 0;
		p{
			@include fontC(700, 14px, $dark);
		}
		label{
			display: block;
			text-align: center;
		}
	}
	.over-text{
		@include wh(100%, 150px);
		overflow-y: auto;
		padding: 10px 20px;
		border-radius: 4px;
		border: 1px solid $border;
		margin-bottom: 20px;
		p{
			text-align: left;
			@include fontC(400, 14px, $dark);
		}
	}
	.btns{
		width: 320px;
		padding-bottom: 60px;
		margin: 40px auto 0;
		display: block;
		.btn{
			padding: 10px 40px!important;
		}
	}
	.form-group .row{
		margin: 0 -15px;
		padding: 0;
	}
	.form-group span{
		display: block;
		@include fontC(400, 14px, #898b8e);
	}
	.form-group .different{
		padding-top: 29px;
	}
	input[type="file"]{
		display: none;
	}
	.avatar-signup{
		border: 2px dashed #969494;
		display: inline-block;
		width: 105px;
		padding: 8px 25px;
		cursor: pointer;
		border-radius: 4px;
		color: #ddd;
		box-sizing: border-box;
		i{
			display: block;
			text-align: center;
			font-size: 40px;
			color: #969494;
			margin-bottom: 10px;
		}
	}
	.text{
		text-align: left;
		padding-top: 30px;
		h4{
			@include fontC(400, 20px, $dark);
			padding-bottom: 10px;
			text-transform: none;
		}
		p{
			@include fontC(400, 14px, $dark);
			text-align: left;
			padding-bottom: 5px;
		}
	}
	/*
	quick-login
	*/
	.quick-login{
		margin: 40px 0;
		background: #eee;
		padding:20px 30px;
		@include bx();
		text-align: left;
		h6{
			padding-bottom: 10px;
		}
		p{
			text-align: left;
			padding-bottom: 5px;
		}
		a{
			display: inline-block;
			float: left;
			border-radius: 5px;
			padding: 10px 30px;
			color: #fff;
			background: #0a406f;
			margin-right: 20px;
			margin-bottom: 10px;
		}
		i{
			vertical-align: middle;
			font-size: 18px;
			display: inline-block;
			margin-right: 10px;
		}
		.google{
			background: #d14836;
		}
	}
	.social{
		margin-top: 30px;
		overflow: hidden;
	}
	.members-signup{
		img{
			display: block;
			margin: 0 auto;
		}
		a{
			display: block;
			text-align: center;
		}
	}
	.continue{
		text-align: center;
		width: auto;
	}
	.checkout-title{
		text-align: center;
		margin-bottom: 30px;
	}
	.credit-card, .credit-info{
		@include credit();
		h4{
			margin-bottom: 20px;
			text-align: center;
		}
		.row{
			padding-top: 10px;
		}
	}
	.credit-info{
		h4{
			text-align: left;
		}
	}
	/*
	credit-info
	*/
	.card-block{
		border: 1px solid $border;
		@include br(5px);
		width: 400px;
		.header{
			padding: 30px;
			@include bx(); 
		}
		h5{
			@include fontC(400, 16px, $dark);
			padding-bottom: 10px;
			&:after{
				@include after();
			}
			img{
				float: right;
				margin-top: -15px;
				display: block;
				@include wh(60px, 40px);
			}
		}
		span{
			display: block;
			@include fontC(400, 16px, #cac7c7);
			padding-bottom: 10px;
		}
		a{
			display: block;
			@include fontC(400, 16px, $blue);
			text-align: center;
			padding: 20px 0;
			background: #eee;
		}
	}
}

/*
*
*
MEDIAS
*
*
*/
@media(max-width: 768px){
	.content-review .col-part{
		width: 100%;
	}
	.content-review{
		padding: 0 15px;
	}
	.content-signup .row, .signup .content-signup, .signup .sidebar-in{
		margin: 0;
	}
	.sidebar-simblebookign{
		margin-bottom: 50px;
	}
	.content-review .heaer-b, .content-review .row{
		padding: 0;
	}
	.content-review .row{
		padding-top: 20px;
	}
	.header-payment p{
		border-right: none;
	}
	.content-review h2{
		padding: 10px 0;
	}
	.content-review .session-block{
		padding: 45px 10px;
	}
	.content-review .col-part{
		text-align: center;
		h4, p, label{
			text-align: center;
			padding-left: 0;
			display: block;
		}
	}
	.content-review .btns{
		width: auto;
		text-align: center;
		.btn{
			margin-bottom: 10px;
		}
	}
}

@media(max-width: 480px){
	.content-review .card-block{
		width: auto;
	}
	.content-review .credit-card, .content-review .credit-info{
		padding: 20px;
	}
	.content-review .card-block h5 img{
		display: block;
		float: none;
		margin: 0 auto;
	}
	.content-review .card-block h5{
		line-height: 30px;
	}
}
