@import "./global.scss";

.thanks{
	padding: 60px 40px 80px;
	/*
	reset
	*/ 
	h4, h6, p, b, ul, li, span, b, i,
	{
		padding: 0;
		margin: 0;
	}
	/*
	reset
	*/
	h3, p{
		text-align: center;
	}
	h3, h4{
		@include fontC(400, 16px, $blue);
		text-transform: uppercase;
	}
	h4{
		text-transform: none;
		color: $dark;
		padding-bottom: 20px;
	}
	p{
		@include fontC(400, 16px, $dark);
		padding-bottom: 60px;
	}
	b{
		@include fontC(700, 14px, $dark);
		display: block;
	}
	span{
		display: inline-block;
		padding-bottom: 15px;
		@include fontC(400, 14px, $dark);
	}
	.pic{
		display: block;
		float: left;
		img{
			display: block;
			@include wh(300px, auto);
			margin-right: 20px;
			margin-bottom: 20px;
			@include br(3px);
		}
	}
	.social{
		padding-top: 20px;
		overflow: hidden;
		a{
			float: left;
			display: block;
			margin: 0 6px 10px 0;
			@include wh(50px, 30px);
			background: #3b5998;
			@include br(3px);
			@include bx();
			padding-top: 7px;
		}
		.twitter{
			background: #60a9dc;
		}
		.message{
			background: #5a0303;
		}
		i{
			font-size: 16px;
			color: #fff;
		}
	}
}

/*
medias
*/
@media(max-width: 768px){
	.thanks{
		padding: 20px;
		p{
			padding-bottom: 30px;
		}
	}
}
