/*---------GLOBAL----VARS-------------*/
/*
mixins
*/
/*--------GLOBAL-----VARS-------------*/
body .navbar-dark {
  background: #2b333d; }

.navbar-dark ul.nav.navbar-nav li a {
  color: #fff; }

/*button*/
body .navbar-dark .button:hover {
  background: #40cad2; }

body .navbar-dark .button:active {
  background: #40cad2; }

body .navbar-dark .button:focus {
  background: #40cad2; }

body .navbar-dark .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #3fb9c1;
  border-color: #3baeb6;
  font-family: "Verdana";
  text-transform: uppercase;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  padding: 11px 22.5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 2px;
  outline: none !important;
  -webkit-box-shadow: 1px 3px 0px #32959b;
  box-shadow: 1px 3px 0px #32959b; }

/*bookingkings*/
.navigation {
  padding: 10px 0; }

.listingImage .brand-title {
  left: 30px !important; }

/*breadrums*/
.breadcrumb > li + li:before {
  color: #565a5c !important;
  content: ">" !important; }

.breadcrumb a {
  font-size: 16px;
  margin: 0 8px; }

.breadcrumb li:first-child a {
  margin-left: 0; }

ol.breadcrumb {
  padding-top: 30px; }

/*************************
        THEMES
*************************/
.btn-info {
  -webkit-box-shadow: 1px 3px 0px #32959b !important;
  box-shadow: 1px 3px 0px #32959b !important;
  background-color: #3fb9c1 !important;
  border-color: #3baeb6 !important;
  font-family: "Montserrat", Georgia, "Times New Roman", Times, serif !important;
  text-transform: uppercase !important;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
  -webkit-text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) !important;
  margin-bottom: 5px !important;
  padding: 11px 22.5px !important;
  font-size: 11px !important;
  line-height: 1.5 !important;
  border-radius: 2px !important;
  outline: none !important;
  display: inline-block !important;
  margin-bottom: 0 !important;
  font-weight: bold !important;
  text-align: center !important;
  vertical-align: middle !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  white-space: nowrap !important;
  padding: 10px 15px !important;
  font-size: 13px !important;
  line-height: 1.42857 !important;
  border-radius: 4px !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.btn-info:hover {
  background-color: #39a6ad !important;
  border-color: #3fb9c1 !important; }

.btn-info:active {
  background-color: #39a6ad !important;
  border-color: #3fb9c1 !important; }

.btn-info:focus {
  background-color: #39a6ad !important;
  border-color: #3fb9c1 !important; }

.pink {
  color: #3fb9c1; }

body a, .listingImage .classTitle .tagline li a {
  color: #3fb9c1; }

body a:hover, .listingImage .classTitle .tagline li a:hover {
  color: #101213; }

body a:active, .listingImage .classTitle .tagline li a:active {
  color: #101213; }

body a:focus, .listingImage .classTitle .tagline li a:focus {
  color: #101213; }

/*btn-transparent*/
body {
  /*btn-transparent*/ }
  body .btn-transparent {
    background: transparent !important;
    border-color: #3fb9c1 !important;
    color: #3fb9c1 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  body .btn-transparent:hover {
    color: #fff !important;
    background: #3fb9c1 !important; }
  body .btn-transparent:active {
    color: #fff !important;
    background: #3fb9c1 !important; }
  body .btn-transparent:focus {
    color: #fff !important;
    background: #3fb9c1 !important; }
  body .login-signup {
    font-weight: 100;
    float: right; }

/*
-------*
------navigation-->
-------*
*/
nav.navbar {
  padding-bottom: 0 !important;
  height: 85px; }
  nav.navbar a {
    float: right;
    display: block; }
  nav.navbar .navigation {
    padding: 0; }
  nav.navbar .login-signup {
    margin-top: 20px; }
  nav.navbar .logo {
    float: left; }
  nav.navbar .nav-booking {
    display: block;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 100%;
    position: relative;
    padding: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #565a5c; }
    nav.navbar .nav-booking:after {
      content: '';
      display: block;
      float: right;
      vertical-align: middle;
      margin: 3px 0 0 8px;
      width: 20px;
      height: 20px;
      background: url(../img/booking.svg) 0 0 no-repeat; }
    nav.navbar .nav-booking i {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 50%;
      font-style: normal;
      text-align: center;
      border: 1px solid #33cccc;
      background: #fff;
      font-size: 12px;
      font-weight: 400;
      color: #33cccc; }
  nav.navbar .nav-user {
    padding: 20px 0 20px 50px; }
    nav.navbar .nav-user img {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
    nav.navbar .nav-user i {
      float: right;
      margin-top: 14px;
      margin-left: 10px; }

@media (max-width: 768px) {
  nav.navbar {
    height: auto; }
  .menu {
    display: none; } }
