/*---------GLOBAL----VARS-------------*/
/*
mixins
*/
/*--------GLOBAL-----VARS-------------*/
.signup {
  /*
	reset
	*/
  /*
	reset
	*/ }
  .signup h4, .signup h6, .signup p, .signup b, .signup ul, .signup li, .signup span, .signup b, .signup i {
    padding: 0;
    margin: 0; }
  .signup .sidebar-in, .signup .content-signup {
    background: #fff; }
  .signup .sidebar-in {
    padding: 30px 20px;
    border: 1px solid #eee;
    border-radius: 7px;
    box-sizing: border-box; }
    .signup .sidebar-in h4 {
      font-size: 16px;
      font-weight: 400;
      color: #33cccc; }
    .signup .sidebar-in h6, .signup .sidebar-in .session {
      padding: 15px 0 10px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 400;
      color: #565a5c; }
    .signup .sidebar-in p {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      color: #565a5c; }
    .signup .sidebar-in b {
      float: right;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      color: #565a5c; }
    .signup .sidebar-in .session, .signup .sidebar-in .total {
      overflow: hidden;
      border-top: 1px solid #ddd; }
    .signup .sidebar-in .session {
      text-transform: none;
      margin-top: 10px; }
    .signup .sidebar-in .total {
      font-weight: 400; }
      .signup .sidebar-in .total b {
        color: #33cccc; }

.content-signup .row {
  background: #fff; }

/*
header-payment
*/
.header-payment {
  border-radius: 5px 5px 0 0; }
  .header-payment p {
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    color: #565a5c;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    cursor: pointer; }
    .header-payment p:last-child {
      border-right: none; }
  .header-payment i {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    margin-top: -4px;
    font-size: 18px;
    font-weight: 100;
    color: #ddd; }
  .header-payment .active {
    color: #33cccc; }
    .header-payment .active i {
      color: #33cccc; }
  .header-payment .disable {
    background: #f9f9f9;
    color: #b9b9b9; }

/*
content-review
*/
.content-review {
  padding: 0 60px;
  box-sizing: border-box;
  /*
	quick-login
	*/
  /*
	credit-info
	*/ }
  .content-review h2 {
    font-size: 24px;
    font-weight: 400;
    color: #565a5c;
    padding: 30px 0; }
  .content-review h3, .content-review p {
    text-align: center; }
  .content-review h3 {
    text-transform: none; }
  .content-review p {
    padding-bottom: 20px; }
  .content-review hr {
    border-color: #ddd;
    margin-bottom: 50px; }
  .content-review .col-part {
    float: left;
    width: 50%;
    height: auto; }
    .content-review .col-part:last-child {
      text-align: right; }
  .content-review .heaer-b {
    padding: 0 45px; }
    .content-review .heaer-b:after {
      content: ".";
      clear: both;
      font-size: 0;
      width: 100%;
      display: block;
      height: 0; }
  .content-review .col-part:first-child h4 {
    font-size: 16px;
    font-weight: 700;
    color: #565a5c;
    padding-bottom: 15px; }
    .content-review .col-part:first-child h4:before {
      content: '';
      display: inline-block;
      float: left;
      vertical-align: middle;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      background: url(../img/booking.svg) 0 0 no-repeat; }
  .content-review .col-part:first-child p {
    text-align: left;
    padding-left: 30px; }
  .content-review .col-part:last-child h4 {
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #33cccc; }
  .content-review .col-part:last-child label {
    font-size: 14px;
    font-weight: 400;
    color: #565a5c; }
  .content-review .session-block {
    background: #eee;
    padding: 45px 0;
    box-sizing: border-box;
    margin-bottom: 40px; }
    .content-review .session-block .row {
      padding-top: 40px; }
  .content-review .row {
    background: transparent;
    padding: 0 30px; }
  .content-review .form-group {
    margin-bottom: 20px;
    overflow: hidden; }
    .content-review .form-group label {
      text-align: right;
      padding-top: 8px;
      text-transform: none;
      font-size: 14px;
      font-weight: 400;
      color: #565a5c; }
  .content-review .checkbox, .content-review .radio {
    margin: 0; }
  .content-review .footer-text {
    padding: 60px 0 0 0; }
    .content-review .footer-text p {
      font-size: 14px;
      font-weight: 700;
      color: #565a5c; }
    .content-review .footer-text label {
      display: block;
      text-align: center; }
  .content-review .over-text {
    width: 100%;
    height: 150px;
    overflow-y: auto;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 20px; }
    .content-review .over-text p {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      color: #565a5c; }
  .content-review .btns {
    width: 320px;
    padding-bottom: 60px;
    margin: 40px auto 0;
    display: block; }
    .content-review .btns .btn {
      padding: 10px 40px !important; }
  .content-review .form-group .row {
    margin: 0 -15px;
    padding: 0; }
  .content-review .form-group span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #898b8e; }
  .content-review .form-group .different {
    padding-top: 29px; }
  .content-review input[type="file"] {
    display: none; }
  .content-review .avatar-signup {
    border: 2px dashed #969494;
    display: inline-block;
    width: 105px;
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 4px;
    color: #ddd;
    box-sizing: border-box; }
    .content-review .avatar-signup i {
      display: block;
      text-align: center;
      font-size: 40px;
      color: #969494;
      margin-bottom: 10px; }
  .content-review .text {
    text-align: left;
    padding-top: 30px; }
    .content-review .text h4 {
      font-size: 20px;
      font-weight: 400;
      color: #565a5c;
      padding-bottom: 10px;
      text-transform: none; }
    .content-review .text p {
      font-size: 14px;
      font-weight: 400;
      color: #565a5c;
      text-align: left;
      padding-bottom: 5px; }
  .content-review .quick-login {
    margin: 40px 0;
    background: #eee;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: left; }
    .content-review .quick-login h6 {
      padding-bottom: 10px; }
    .content-review .quick-login p {
      text-align: left;
      padding-bottom: 5px; }
    .content-review .quick-login a {
      display: inline-block;
      float: left;
      border-radius: 5px;
      padding: 10px 30px;
      color: #fff;
      background: #0a406f;
      margin-right: 20px;
      margin-bottom: 10px; }
    .content-review .quick-login i {
      vertical-align: middle;
      font-size: 18px;
      display: inline-block;
      margin-right: 10px; }
    .content-review .quick-login .google {
      background: #d14836; }
  .content-review .social {
    margin-top: 30px;
    overflow: hidden; }
  .content-review .members-signup img {
    display: block;
    margin: 0 auto; }
  .content-review .members-signup a {
    display: block;
    text-align: center; }
  .content-review .continue {
    text-align: center;
    width: auto; }
  .content-review .checkout-title {
    text-align: center;
    margin-bottom: 30px; }
  .content-review .credit-card, .content-review .credit-info {
    margin-top: 40px;
    padding: 40px; }
    .content-review .credit-card h4, .content-review .credit-info h4 {
      margin-bottom: 20px;
      text-align: center; }
    .content-review .credit-card .row, .content-review .credit-info .row {
      padding-top: 10px; }
  .content-review .credit-info h4 {
    text-align: left; }
  .content-review .card-block {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px; }
    .content-review .card-block .header {
      padding: 30px;
      box-sizing: border-box; }
    .content-review .card-block h5 {
      font-size: 16px;
      font-weight: 400;
      color: #565a5c;
      padding-bottom: 10px; }
      .content-review .card-block h5:after {
        content: ".";
        clear: both;
        font-size: 0;
        width: 100%;
        display: block;
        height: 0; }
      .content-review .card-block h5 img {
        float: right;
        margin-top: -15px;
        display: block;
        width: 60px;
        height: 40px; }
    .content-review .card-block span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #cac7c7;
      padding-bottom: 10px; }
    .content-review .card-block a {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #33cccc;
      text-align: center;
      padding: 20px 0;
      background: #eee; }

/*
*
*
MEDIAS
*
*
*/
@media (max-width: 768px) {
  .content-review .col-part {
    width: 100%; }
  .content-review {
    padding: 0 15px; }
  .content-signup .row, .signup .content-signup, .signup .sidebar-in {
    margin: 0; }
  .sidebar-simblebookign {
    margin-bottom: 50px; }
  .content-review .heaer-b, .content-review .row {
    padding: 0; }
  .content-review .row {
    padding-top: 20px; }
  .header-payment p {
    border-right: none; }
  .content-review h2 {
    padding: 10px 0; }
  .content-review .session-block {
    padding: 45px 10px; }
  .content-review .col-part {
    text-align: center; }
    .content-review .col-part h4, .content-review .col-part p, .content-review .col-part label {
      text-align: center;
      padding-left: 0;
      display: block; }
  .content-review .btns {
    width: auto;
    text-align: center; }
    .content-review .btns .btn {
      margin-bottom: 10px; } }

@media (max-width: 480px) {
  .content-review .card-block {
    width: auto; }
  .content-review .credit-card, .content-review .credit-info {
    padding: 20px; }
  .content-review .card-block h5 img {
    display: block;
    float: none;
    margin: 0 auto; }
  .content-review .card-block h5 {
    line-height: 30px; } }
