/*---------GLOBAL----VARS-------------*/
/*
mixins
*/
/*--------GLOBAL-----VARS-------------*/
.thanks {
  padding: 60px 40px 80px;
  /*
	reset
	*/
  /*
	reset
	*/ }
  .thanks h4, .thanks h6, .thanks p, .thanks b, .thanks ul, .thanks li, .thanks span, .thanks b, .thanks i {
    padding: 0;
    margin: 0; }
  .thanks h3, .thanks p {
    text-align: center; }
  .thanks h3, .thanks h4 {
    font-size: 16px;
    font-weight: 400;
    color: #33cccc;
    text-transform: uppercase; }
  .thanks h4 {
    text-transform: none;
    color: #565a5c;
    padding-bottom: 20px; }
  .thanks p {
    font-size: 16px;
    font-weight: 400;
    color: #565a5c;
    padding-bottom: 60px; }
  .thanks b {
    font-size: 14px;
    font-weight: 700;
    color: #565a5c;
    display: block; }
  .thanks span {
    display: inline-block;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #565a5c; }
  .thanks .pic {
    display: block;
    float: left; }
    .thanks .pic img {
      display: block;
      width: 300px;
      height: auto;
      margin-right: 20px;
      margin-bottom: 20px;
      border-radius: 3px; }
  .thanks .social {
    padding-top: 20px;
    overflow: hidden; }
    .thanks .social a {
      float: left;
      display: block;
      margin: 0 6px 10px 0;
      width: 50px;
      height: 30px;
      background: #3b5998;
      border-radius: 3px;
      box-sizing: border-box;
      padding-top: 7px; }
    .thanks .social .twitter {
      background: #60a9dc; }
    .thanks .social .message {
      background: #5a0303; }
    .thanks .social i {
      font-size: 16px;
      color: #fff; }

/*
medias
*/
@media (max-width: 768px) {
  .thanks {
    padding: 20px; }
    .thanks p {
      padding-bottom: 30px; } }
